loglevel=info
always-auth=true
registry=https://npm.cnb.cool/shirokasoke/npm/-/packages/
//npm.cnb.cool/shirokasoke/npm/-/packages/:_authToken=${CNB_TOKEN}
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}